body{
 background-color: #feb83982 !important;
}

.section{
  background-color: white;
  min-height: 500px;
    width: 600px;
    margin: 40px auto;
}

#to-do-form button{
  
  background-color:orange;
  border: orange; 
  
}
#to-do-form input{
  border: 1px solid orange;
}
#to-do-form input :focus {
  outline: none;
}